# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Problematic Visual Studio files
*.ncb
*.suo
*.user

/bz2 dll source code/Build
/bz2 dll source code/Output
*.ncb
*.suo